# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# VS Code
.vscode/

# Database
*.db
*.sqlite
*.sqlite3

# Excel dữ liệu
*.xlsx
*.xls

# Logs
*.log

# Build
build/
dist/

# PyInstaller
*.spec

# Windows
Thumbs.db
Desktop.ini